.slider-container{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-top: 30px;
}

.price-range-title{
    font-size: 17px;
    width: 120px;
    margin-bottom: 10px;
    font-weight: 400;
}

.price-range-container{
    width: 100%;
}