.details-form {
  padding-top: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  order: 3;
}

.summary-container{
  margin: 10px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.summary-container > * {
  flex-grow: 1;
}
.order-summary {
  background-color: rgb(251, 237, 223);
  order: 0;
  padding: 10px 20px;
  box-sizing: border-box;
}

.discount-card{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.discount-card > * {
  flex-grow: 2;
}

ul{
  margin: 0;
  padding: 0;
}

.discount{
  padding:10px 15px;
  background-color: #fff;
  width: 70%;
}

.checkout-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.apply-discount-btn{
  padding:10px 15px;
  margin: 0 10px;
  background: rgb(249,227,204);
  color: rgba(0,0,0,0.56);
  font-size: 13px;
  width: 30%;
}

.total-price{
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin-top: 10px;
}


@media screen and (min-width: 767px) {
  .checkout-content {
    flex-direction: row;
  }

  .details-form {
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
    order: 0;
    margin-top: 100px;
    padding-right: 40px ;
  }

  .order-summary {
    width: 50%;
    height: 92vh;
    box-sizing: border-box;
    order: 1;
    padding-top: 143px;
    padding-left: 40px;
  }

  .total-price{
    max-width: 95%;
    margin-top: 10px;
  }

  .summary-container{
    width: 90%;
  }

}


@media screen and (min-width:1440px) {

  .total-price{
    margin: 10px 0;
    min-width: 50%;
    max-width: 66%;
  }

  .summary-container{
    width: 80%;
    max-width: 550px;
  }

  .discount-card{
    max-width:65%;
    flex-grow: 1;
  }
}


